{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container" style="background-color:#FFF;">
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}   
			<ul>
			{% for message in messages %}
				<li><strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</div>
	<div class="row">



		<div class="col-md-4" style="border-right:1px solid #F1F1F1">
			

			{% if 'username' in session %}
			


		<div class="row padding-top padding-bottom">
			<div class="col-md-1"></div>
			<div class="col-md-10 padding-none">
				<a href="{{url_for('newCategory')}}">
					<button class="btn btn-default" id="new-restaurant">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Category
					</button>
				</a>
			</div>
			<div class="col-md-1"></div>
		</div>







			{% endif %}
			<h2>Categories</h2>
			<ul class="list-unstyled">
				{% for category in categories %}
				<li><a href="{{url_for('showItems', category_id = category.id)}}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>

		</div>
		<div class="col-md-8">
			{% if 'username' in session %}
				
			<div class="row padding-top padding-bottom">
				<div class="col-md-1"></div>
				<div class="col-md-10 padding-none">
					<a href="{{url_for('newItem')}}">
						<button class="btn btn-default" id="new-restaurant">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Items
						</button>
					</a>
				</div>
				<div class="col-md-1"></div>
			</div>




				
			{% endif %}
			<h2>Latest Items</h2>
			<ul class="list-unstyled">
				{% for item in latestItems %}
				<li><a href="{{url_for('itemDetails', category_id = item.category.id, item_id = item.id)}}">{{ item.name }}</a> ({{ item.category.name }})</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
