<header>
	<nav class="navbar navbar-default" style="background-color:#0d0044;">
		<div class="container">
			<div class="pull-left">                   
				<a class="navbar-brand" href="{{url_for('showCatalog')}}" style="color:#FFF">
					<h4>Catalog App</h4>
				</a>
			</div>
			<div class="pull-right">
				{% if 'username' not in session %}
				<a href="{{url_for('showLogin')}}"><button type="button" class="btn btn-danger" style="margin-top:8px;">Login</button></a>
				{% else %}
				<a href="{{url_for('disconnect')}}"><button type="button" class="btn btn-danger" style="margin-top:8px;">Logout</button></a>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
