{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="container" style="background-color:#FFF;">
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}   
			<ul>
			{% for message in messages %}
				<li><strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</div>

	<div class="row">
		<div class="col-md-12">
			<h2>{{ item.name }}</h2>
            <h5>{{ item.price }} | {{ item.category.name }}</h5>
            <p>{{ item.description }}</p>
			<br>
		</div>
		{% if 'username' in session %}
		<div class="col-md-12">
			<a href='{{url_for('editItem', item_id = item.id)}}'>Edit</a> | 
			<a href='{{url_for('deleteItem', item_id = item.id)}}'>Delete</a> | <a href ="{{url_for('showCatalog')}}">Cancel</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
